We're here to help.

Copy and paste the following URL to reset your password:
{{domain}}/reset/{{token}}


Thoughtfully.app is a free service to help organize and catalog your thoughts.

You are receiving this email because you've registered at Thoughtfully.app and submitted your thoughts in the past week.

Unsubscribe - %unsubscribe_url%
